.services-table, .services-table td {
  border-spacing: 0;
  border-color: #009955;
  margin: 10px;
}
.services-table td {
  padding: 5px;
}
.services-table tbody tr:hover {
  background: #ccffcc;
  cursor: pointer;
}
.details {
  border: 4px solid #095;
  padding: 9px;
  margin: 10px;
}
.download-error {
  border: 4px solid #f99;
  background-color: #f77;
  margin: 10px;
  padding: 9px;
}
.download-error span, .download-error button {
  color: #411;
}
.download-error button {
  background-color: #f55;
  border: 3px solid #b33;
  margin-left: 10px;
}
.loading {
  border: 3px solid #33b;
  padding: 9px;
  margin: 10px;
}
